# Object files
*.o
*.ko
*.obj
*.elf

#include<stdio.h>
#include<conio.h>
Void main()
{int a;
printf("enter a number");
scanf("%d",&a);
if(a%2==0)
{
printf("number is even");
}
else
{ printf(" number is odd ");}
getch();
}
